* annex.backend=SHA256E
**/.git* annex.largefiles=nothing
*.bval annex.largefiles=nothing
*.bvec annex.largefiles=nothing
*.json text eol=lf annex.largefiles=largerthan=1mb
*.tsv text eol=lf annex.largefiles=largerthan=1mb
phenotype/*.tsv annex.largefiles=anything
dataset_description.json annex.largefiles=nothing
datacite.yml annex.largefiles=nothing
datacite.yaml annex.largefiles=nothing
.bidsignore annex.largefiles=nothing
CHANGES text eol=lf annex.largefiles=nothing
README* text eol=lf annex.largefiles=nothing
LICENSE* text eol=lf annex.largefiles=nothing
CITATION.cff text eol=lf annex.largefiles=nothing
